.container1 {
    height: auto;
    border-radius: 20px;
    background-color: pink;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    padding: 10px;

}

.input-group {
    margin-bottom: 50px;
}

.text1 {
    height: 290px;
}